@{
    ViewData["Title"] = "CreateAlphanumeric";
}
    <form method="post">
        <label>First name:</label><br />
        <input type="text" name="firstName" /><br /><br />
        <label>Last name:</label><br />
        <input type="text" name="lastName" /><br /><br />
        <label>Date of birth:(day/month/year)(example: 23/03/1995)</label><br />
        <input type="text" name="dateOfBirth" /><br /><br />
        <label>Group(example: CSSE1701):</label><br />
        <input type="text" name="group" /><br /><br />
        <input type="submit" value="Отправить" />
    </form>